 <div class="col-lg-8 col-xs-12 col-md-10 offset-md-1 offset-lg-2" style="margin-top:5vh">
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
    <h1>Informacje o aplikacji</h1>
  </div>
  </div>
  <div class="row">
      <div class="col-md-12" style="text-align:center;">
          <p style="font-size:1.3rem">
            Witaj w aplikacji webowej służącej do kontrolowania asortymentu w sklepie w uproszczony sposob.
            Za jej pomocą możesz utworzyć swoj asortyment, edytować go oraz zarządzać portfelem.
            Aby z niej skorzystać musisz utworzyć konto, i się zalogować.
          </p>
          <button class="btn btn-success" (click)="zarzadzanie('rejestracja')">Zarejestruj się</button>
          <button class="btn btn-primary" (click)="zarzadzanie('logowanie')">Zaloguj się</button>
        </div>

  </div>
 </div>
